

.subtexto {
 
    font-size: 20px;
    text-align: left;
    margin-left: 15px;


   
}

.tarjetas {

    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
   
   
}
 
.tarjetas > div {
   position:absolute;
    top:0;
    left:0;
    z-index:-1;
    padding:10px;
    margin:0;
    text-align: center;
   
}

.imgtarjeta {
    width: 100%;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    
   }
.tarjetas img {
    padding: 0;
    margin: 0;
}
.nombre {
    font-size: 25px;
    padding: 2px;
    text-align: center;
    margin: 50px
    
}
.imgtarjeta:hover {
   opacity: 0.2;
   -webkit-transition: opacity 500ms;
   -moz-transition: opacity 500ms;
   -o-transition: opacity 500ms;
   -ms-transition: opacity 500ms;
    transition: opacity 500ms;
 
}



.textarjeta{
    font-size: 10px;
}


.adoptar {
    text-decoration: none;
    font-size: 19px;
    padding: 10px;
    color: black;
    background-color: darkgrey;
    border-radius: 10px;
    display: inline-block;	
    margin: 10px;
    font-weight: 300;
 }

.adoptar:hover {
      background-color: aquamarine;  
}



