* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Tangerine';
  src: url('http.//fonts.googleapis.com/cssamily=Tangerine');
}

body {
  font-family: 'Tangerine', sans-serif;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}
/*Estilos Header*/
.main-header {
padding: 0px;
border: 0px;
margin: 40px;
}
.main-header-title {
  text-align: left;
  font-size: 2.5em;
  margin: 0px;
  color: #ff4e00;
  font-family: 'Poppins';
}
.main-header-title .word1 {
  color: #454546;
}
.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*estilos menu*/
.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999999;
}
.menu {
  position: absolute;
  top: 136px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu-item {
  text-align: center;
  margin: auto;
}
.menu-link {
  padding: 20px;
  color: white;
  text-decoration: none;
  display: block;
}
.menu-link:hover {
  background: white;
  color: #212121;
}
.menu1 {
width: 200;
height: 200;
float: left;
}


.mostrar {
  opacity: 1;
  visibility: visible;
}

.icon-menu {
  font-size: 1.5rem;
  border: 1px solid #454546;
  border-radius: 2%;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
}
.icon-user {
  margin-right: auto;
}
.main-header-btn {
  display: block;
  height: max-content;
  padding: 10px 20px;
  border: 1px solid #454546;
  border-radius: 2%;
  font-size: 1em;
  color: #454546;
  text-decoration: none;
  margin-right: 10px;
}
.main-header-btn i {
  margin-left: 8px;
  font-size: 1em;
}
.main-header-input {
  caret-color: #ff4e00;
  font-size: 1em;
  display: block;
  padding: 10px;
  border: 1px solid #454546;
  border-radius: 2%;
  margin-right: 4px;
  width: 50%;
}

.main {
  padding: 0 20px;
}
/*Estilos Slider*/
.container-slider {
  margin: 50px auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 300%;
  height: 300px;
  margin-left: -100%;
  position: relative;
}
.slider::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
}
.slider-section {
  width: 100%;
  position: relative;
}
.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-btn {
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.slider-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}
.slider-btn-left {
  left: 10px;
}
.slider-btn-right {
  right: 10px;
}

.slider-content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 60%;

  text-align: center;
}

.slider-title {
  font-size: 2em;
  margin: 0;
}
.slider-txt {
  margin: 5px 0;
}

.slider-link {
  display: block;
  border: 1px solid #ff4e00;
  border-radius: 2%;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 20px auto;
  transition: all 0.5s;
}
.slider-link:hover {
  background: rgba(255, 78, 0, 0.3);
}
.main {
  padding: 10px;
}

.tips-title {
  margin: 30px auto;
  text-align: center;
  color: #212121;
  font-size: 2em;
}
.container-tips {
  margin-bottom: 60px;
  text-align: center;
}
.tip-txt {
  margin: 40px;
}
.tip {
  border: 1px solid #ccc;
  border-radius: 2%;
  padding: 20px;
  margin: 20px;
}
.tip-icon {
  font-size: 2em;
  color: #ff4e00;
}
/*Estilos Apoyo*/
#flyer_donaciones{
  width: 1000px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  
}
.main-apoyo {
  padding: 10px;
 
}

.apoyo-tips {
  
  margin-bottom: 60px;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  
}
.apoyo-icon{
  width: 100px;
  margin-inline: 40%;

}
.tip-apoyo {
  border: 1px solid #ccc;
  border-radius: 2%;
  padding: 20px;
  margin: 20px;
  text-align: center;

}
.tip-txt-apoyo {
  text-align: justify;
  margin: 20px;
  display: inline-flex;
  justify-content: center;

}
.tip-apoyo-icon {
  border: 1px solid #ccc;
  border-radius: 2%;
  padding: 20px;
  margin: 20px;
  text-align: center;
  

}

/*estilos del footer*/

.main-footer {
  background: #151515;
  color: white;
  padding: 30px 20px;
}
.footer-title {
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}
.footer-txt {
  color: #555;
}
.copy {
  color: #555;
}

/*estilos para tablet*/

@media screen and (min-width: 768px) {
  .slider {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .slider {
    height: 500px;
  }
  .icon-menu {
    display: none;
  }
  .main-header .container-flex {
    display: flex;
    justify-content: space-between;
  }
  .main-header-container {
    padding-top: 10px;
  }

  .main-header-title {
    width: 100%;
    font-size: 3em;
    margin: 20px;
  }
  .main-nav {
    visibility: visible;
    opacity: 1;
    margin-left: 40px;
    width: 100%;
    margin-top: 20px;
  }
  .menu {
    position: static;
    display: flex;
    background: none;
  }
  .menu-link {
    color: #333;
  }
  .menu-link:hover {
    color: black;
    font-weight: bolder;
  }
  .main {
    padding: 0 40px;
  }
  .container-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 64px;
  }

  .container-tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .footer-sections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .copy {
    text-align: center;
  }
}


.botonimagen1 {
  background-image:url("../img/1.ico");
  background-repeat:no-repeat;
  height:135px;
  width:135px;
  background-position:center;
}

.botonimagen2 {
  background-image:url("../img/2.ico");
  background-repeat:no-repeat;
  height:135px;
  width:135px;
  background-position:center;
}

.botonimagen3 {
  background-image:url("../img/3.ico");
  background-repeat:no-repeat;
  height:135px;
  width:135px;
  background-position:center;
}

.botonimagen4 {
  background-image:url("../img/4.ico");
  background-repeat:no-repeat;
  height:135px;
  width:135px;
  background-position:center;
}

/*Estilos Adopcion*/

.subtexto {
 
  font-size: 20px;
  text-align: left;
  margin-left: 15px;
 
}

.tarjetas {

  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  margin: 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  
 
}

.tarjetas > div {
 position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
  text-align: center;
 
}

.imgtarjeta {
  width: 100%;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  
 }
.tarjetas img {
  padding: 0;
  margin: 0;
}
.nombre {
  font-size: 25px;
  padding: 2px;
  text-align: center;
  margin: 50px;
  justify-content: center;
  align-items: center;
  
}
.imgtarjeta:hover {
 opacity: 0.2;
 -webkit-transition: opacity 500ms;
 -moz-transition: opacity 500ms;
 -o-transition: opacity 500ms;
 -ms-transition: opacity 500ms;
  transition: opacity 500ms;

}

.textarjeta{
  font-size: 10px;
}


.adoptar {
  text-decoration: none;
  font-size: 19px;
  padding: 10px;
  color: black;
  background-color: darkgrey;
  border-radius: 10px;
  display: inline-block;	
  margin: 10px;
  font-weight: 300;
}

.adoptar:hover {
    background-color: red;  
}

.grandiv {

  display: grid;
  /* grid-template-columns: repeat( 3,400px); */

   justify-content: center;
  align-items: center; 
  grid-template-areas: "tarjetas tarjetas tarjetas"
                      "tarjetas tarjetas tarjetas"
                      "tarjetas tarjetas tarjetas"

}


@media screen and (max-width: 1100px) {
  .grandiv {
      display: grid;
      justify-content: center;
      align-items: center;
  grid-template-areas: "tarjetas tarjetas"
                      "tarjetas tarjetas"
                      "tarjetas tarjetas"
                      "tarjetas tarjetas";
                      


      }
  }

@media screen and (max-width: 600px) {
  .grandiv {
      display: grid;
      justify-content: center;
  align-items: center; 
  grid-template-areas: "tarjetas"
                      "tarjetas"
                      "tarjetas"
                      "tarjetas"
                      "tarjetas"
                      "tarjetas"
                      "tarjetas"
                      "tarjetas"
                      "tarjetas"
      }
  } 




