<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"content="width=device-width, user-scalable=none, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <title>Refugio Huellitas de Amor</title>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="icon.ico" type="image/x-icon">

</head>

  <body>
    <header class="main-header"></header>

    <div class="contacto-container" id="app">
      <div class="contacto-form-container">
        <h2 class="contacto-title">Formulario de carga de Adopciones</h2>
          <label class="contacto-label" for="nombre">Nombre:</label>
          <input class="contacto-input" type="text" id="nombre" name="nombre" placeholder="Ingresar nombre" v-model="nombre">

          <label class="contacto-label" for="edadmeses">Edad:</label>
          <input class="contacto-input" type="text" id="edadmeses" name="edadmeses"
            placeholder="Ingresar edad" v-model="edadmeses">

          <label class="contacto-label" for="sexo">Sexo:</label>
          <input class="contacto-input" type="text" id="sexo" name="sexo" placeholder="Ingresar sexo" v-model="sexo">

          <label class="contacto-label" for="imagen">Imagen:</label>
          <input class="contacto-input" type="text" id="imagen" name="imagen" placeholder="Ingresar imagen" v-model="imagen">

        
          <button type="button" class="btn btn-success contacto-button" v-on:click="grabar()">Grabar</button>
          
        </form>
     
    </div>
    </div>
    <footer class="main-footer"></footer>
    <script src="./js/headfoot.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/admin.js"></script>
  </body>
  </html>
