<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=none, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Refugio Huellitas de Amor</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
</head>


<body>
    <header class="main-header"></header>
    <main>
        <div id="app" class="container">
            <div v-if="error">
                <p>Lo sentimos, algo no anda bien :( </p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="title-container">
                        <div>
                        <h1 class="title-admin">En Adopcion :</h1>
                        </div>
                        <div class="container-button">
                        <a class="btn btn-primary nuevo-button" href="admin_post.html">Nuevo</a>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card" v-for="(mascota, index) in mascotas" :key="mascota.id">
                            <img class="imgtarjeta" :src="getImg(mascota.imagen)" alt="">
                            <h2 class="nombre">{{ mascota.nombre }}</h2>
                            <!-- Resto del contenido de la tarjeta -->
                            <p class="subtexto">Edad: {{ mascota.edadmeses }}</p>
                            <p class="subtexto">Sexo: {{ mascota.sexo }}</p>
                            
                        
                            <button class="card-buttons"><!-- Botones editar y eliminar -->
                            <a :href="`admin_update.html?id=${mascota.id}`" class="btn btn-primary">Editar</a>
                            </button>
                            <button type="button" class="btn btn-danger card-buttons" @click="eliminar(mascota.id)">Eliminar</button>
                        
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer class="main-footer"></footer>
    <script src="./js/headfoot.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.2.19/dist/vue.global.js"></script><!--Link de Vue.js-->
    <script src="./js/admin.js"></script>

</body>

</html>
