<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=none, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Refugio Huellitas de Amor</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
</head>


<body>
    <header class="main-header"></header>

    <div id="app">
        <div v-if="error">
            <p>Lo sentimos , algo no anda bien </p>
        </div>
        <div v-else>
            <section v-if="cargando">
                <div class="spinner-border"></div>
                <p>Cargando .....</p>
            </section>
            <section v-else>
                <div class="grandiv">
                    <div class="tarjetas" v-for="mascota in mascotas" :key="mascota.id">
                        <img class="imgtarjeta" :src="getImg(mascota.imagen)" alt="">
                        <div>
                            <p class="nombre">{{mascota.nombre}}</p>
                        </div>
                        <p class="subtexto">{{mascota.sexo}}</p>
                        <p class="subtexto">{{mascota.edadmeses}}</p>
                        <a class="adoptar" href="contacto.html">Adoptame</a>
                    </div>
                </div>
        </div>
        </tbody>
        </table>
    </div>
    </section>
    </div>

    </div>
    </div>
    </div><br>
    <footer class="main-footer"></footer>
    <script src="./js/headfoot.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/admin.js"></script>
</body>

</html>